services:
  app:
    build:
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=/data/sqlite.db
      - NWC_URL=${NWC_URL}
    volumes:
      - data:/data
    restart: unless-stopped

volumes:
  data:
