version: "3"

services:
  app:
    build:
      dockerfile: Dockerfile
      args:
        DATABASE_URL: "/data/sqlite.db"
    volumes:
      - data:/data
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  data:
