version: "3"

services:
  app:
    build:
      dockerfile: Dockerfile
      args:
        ENV_VARIABLE: ${ENV_VARIABLE}
        NEXT_PUBLIC_ENV_VARIABLE: ${NEXT_PUBLIC_ENV_VARIABLE}
    volumes:
      - data:/data
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  data:
